:root { /** Pseudo clase **/
    --primario: #9C27B0;
    --primarioOscuro: #89119D;
    --secundario: #FFCE00;
    --secundarioOscuro: rgb(233,287,2);
    --blanco: #FFF;
    --negro: #000;
    --grisclaro:#eeeeee;
    --rosadopstel:#fadce6;
}

body {
    background-color: var(--blanco);
    font-size: 1.6rem;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-size: cover;
    background-attachment: fixed;
}

.login, .registrar{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
   background: url(imagen.jpg);
    background-size: cover;
    background-attachment: fixed;
}

* {
    box-sizing: border-box;
}
.contenedor{
    width: 100%;
    padding: 15px;
}
.formulario{
    background: #fff;
    margin-top: 100px;
    padding: 3px;
}
h1{
    text-align: center;
    color: var(--negro);
    font-size: 40px;
}
input[type="text"],
input[type="password"]{
    font-size: 20px;
    width: 82%;
    padding: 10px;
    border: none;
}
.input-contenedor{
    margin-bottom: 15px;
    border: 1px solid #aaa;
}
.icon{
    min-width: 50px;
    text-align: center;
    color: #999;
}
.button{
    border: none;
    width: 100%;
    color: white;
    font-size: 20px;
    background:  #1a2537;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.button:hover{
    background: cadetblue;
}
p {
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    padding: 1em;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-right: 1rem;
    color: var(--negro);
}
.pf_login, .pf_registrar{
    text-align: center;
    font-size: 16px;
    padding: 0px;
}

p--activo,

.link{
    text-decoration: none;
      color: #1a2537;
    font-weight: 600;
}
.link:hover{
     color: cadetblue;
}
@media(min-width:768px)
{
    .formulario{
        margin: auto;
        width: 500px;
        margin-top: 150px;
        border-radius: 2%;
    }
}

.table{
    margin: auto;
    width: 80rem;
    min-width: 50px;
    border: 1px solid black;
    border-collapse: collapse;
}
.medidas{

    display: flex;
    align-items: center;
    margin: auto;
    width: 205px;
    height: 150px;
    min-width: 50px;
    min-height: 50px;
}
.parrafo_table{
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--negro);
}
.logo{
 
    height: 50px;
    width: 70px;
    
}



























